@charset "utf-8";
/* CSS Document */

html {
font-family: Segoe, "Segoe UI", 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, "sans-serif";
font-size: 16px;
margin: 0;
padding: 0;	
}

body {
    background-color: #7787C5;
	
	
}


header {
	width: 100%;
	height: 100px;
	background-color: #FFFF;
	float: left;
	
	
	
}

h1 {
	background-color: #FFFF;
	float: left;
}

nav {
	
 width: 100%;
 height: 70px;
 background-color: #ccc;
 float: left;	
}

main {
	
width: 100%;
height: 600px;
background-color: #3e3;
float: left;	
}

footer {
 width: 100%;
 height: 100px;
 background-color: aliceblue;
 float: left;	
}

#wrapper {
max-width: 1000px;
min-height: 900px;
background-color: yellow;
margin: 0 auto;	
	
}
