@charset "utf-8";
/* CSS Document */

html {
 font-family: Verdana, "sans-serif";
 font-size: 16px;
 margin: 0;
 padding: 0;		
}

body {
	background-color: white;
}

#wrapper {
max-width: 1020px;
min-height: 1135px;	
background-color: yellow;	
margin: 0 auto;
#margin: 1% 1% 1% 1%;  
}

header {
 width: 98%;
 height: 180px;
 background-color: #FF0004;
 background-image: url("../images/furryheader.png"); 
 float: left;
 margin: 1% 1% 1% 1%; 
}

nav {
width: 98%;
height: 70px;
background-color: #ccc;
background-image: url("../images/navbg.png");  
float: left;
margin: 1% 1% 1% 1%;   
}

main {
	width: 94%;
	height: 605px;
	background-color: #1A7F7D;
	float: left;
	padding: 2%;
  background-color: blue;
  margin: 1% 1% 1% 1%; 
}

footer {
	width: 98%;
	   height: 150px;
	   background-color: darkblue;
	   float: left;
     margin: 1% 1% 1% 1%; 
}



article {
	    width: 50%;
	    height: 485px;
	    background: violet;
	    margin: 0% 0% 0% 0%;
	    float: left;
	    #resize: both;
      #overflow: auto;	
}

.articlerightcolumn {

   width: 50%;
	 height: 57%;
	 background: violet;
	 margin: 0% 0% 0% 0%;
	 float: left;
	 #resize: both;
   #overflow: auto;
}

section {
	    width: 67%;
	    height: 605px;
	    background: black;
	    margin: -1% 0% 0% 0%;
	    float: inherit;
	    #resize: both;
      #overflow: auto;
}

aside  {
	   width: 33%;
	   height: 100%;
	   background: #64569E;
	   float: left;
     margin: -1% 1% 0% -1%;
}

.section-header { 
   width: 100%;
	 height: 120px;
	 background-color: #64569E;
	 float: right;
   margin: 0% 0% 0% 0%;
}

.small-aside { 
   width: 50%;
	 height: 140px;
	 background-color: #64569E;
	 float: left;
   margin: 0% 0% 0% 0%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
