@charset "utf-8";
/* CSS Document */
html {
	font-family: Verdana, "sans-serif";
	font-size: 1vw;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}
body {
	background-image: url("../images/bg3.png");
	background-repeat: repeat;
	background-color: #ffffff;
}
#wrapper {
	/*max-width: 1020px;
	*/
	width: 60%;
	height: 125.31vh;
	background-color: #4d95ff;
	margin: 0 auto;
}
header {
	width: 98%;
	height: 19.71vh;
	background-color: #FF0004;
	background-image: url("../images/furryheader2.png");
	float: left;
	margin: 1% 1% 1% 1%;
}
header h1 {
	display: none;
}
main {
	width: 94%;
	height: 67.26vh;
	background-color: #1A7F7D;
	float: left;
	padding: 2%;
	background-color: blue;
	margin: 1% 1% 1% 1%;
}
footer {
	width: 97%;
	height: 16.42vh;
	background-color: #a399ff;
	float: left;
	margin: 1% 1% 1% 1%;
	padding: 0% 0% 0% 1%;
}
article {
	width: 50%;
	height: 54.48vh;
	background: #ffad34;
	margin: 0% 0% 0% 0%;
	float: left;
	font-size: 90%;
}
article h3 {
	display: none;
}
article span {
	color: red;
}
.articlerightcolumn {
	width: 46%;
	height: 39vh;
	background: #ffc266;
	margin: 0% -1% 0% 1%;
	padding: 0% 1% 0% 1%;
}
.articleleftcolumn {
	background: #ffcc81;
	padding: 0% 1% 2% 1%;
}
section {
	width: 65%;
	height: 69.26vh;
	background: #ffd699;
	margin: -1% 0% 0% 0%;
	float: inherit;
}
section,article ol,ul {
	text-align: left;
	object-fit: contain;
}
section img{
	width: 25%;
	height: auto;
	float: right;
}
aside {
	width: 33%;
	height: 69vh;
	background: #ffb74d;
	float: left;
	padding: 0% 1% 0% 1%;
	margin: -1% 1% 0% -1%;
	font-size: 90%;
}
aside span {
	color: red;
	font-weight: bold;
}
aside img {
	width: 100%;
	height: auto;
}
.section-header {
	width: 100%;
	height: 13.14vh;
	background-color: #ffd699;
	float: right;
	margin: 0% -1% 0% 0%;
	padding: 0% 0% 0% 1%;
}
.small-aside {
	width: 46%;
	height: 16.99vh;
	background-color: #ffd699;
	float: left;
	margin: 0% -1% 0% 1%;
	padding: 0% 1% 0% 1%;
}
nav {
	width: 98%;
	height: 7.66vh;
	background-color: #ccc;
	background-image: url("../images/navbg2.png");
	float: left;
	margin: 1% 1% 1% 1%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
}
nav li {
	float: left;
	list-style-type: none;
	font-size: 100%;
	background-color: #ffe6e6;
	padding-left: 0rem;
	padding-right: 1rem;
	margin: -1% 14% 0% -1%;
}
nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
nav li a:hover {
	background-color: #ff4d4d;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.invisble-heading{
	display: none;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
@media(max-width:900px) {
	#wrapper {
		min-width: 90%;
	}
	article,nav,footer,aside {
		font-size: 130%;
	}
}
@media(max-width:850px) {
	#wrapper {
		min-width: 95%;
	}
	article,nav,footer,aside {
		font-size: 140%;
	}
}
@media(max-width:800px) {
	#wrapper {
		min-width: 95%;
	}
	article,nav,footer,aside {
		font-size: 145%;
	}
}
@media(max-width:700px) {
	#wrapper {
		min-width: 100%;
	}
	article,nav,footer,aside {
		font-size: 155%;
	}
}
@media(max-width:600px) {
	#wrapper {
		min-width: 100%;
	}
	article,nav,footer,aside {
		font-size: 160%;
	}
}
@media(max-width:500px) {
	#wrapper {
		min-width: 100%;
	}
	article,nav,footer,aside {
		font-size: 165%;
	}
}
@media(max-width:400px) {
	#wrapper {
		min-width: 100%;
	}
	article,nav,footer,aside {
		font-size: 170%;
	}
}
