@charset "utf-8";
/* CSS Document */

@keyframes studio1 {
from {left: 0px;}
  to {right: 180px;}
}	

.anim1 {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 100px;
	left: 200px;
	animation-name: studio1;
	animation-duration: 6s;
}

.anim2 {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	top: 100px;
	left: 200px;
	animation-name: studio2;
	animation-duration: 6s;
}

